.weapon-icon {
    width: 200px;
    height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: red 5px solid;

    &.current {
        position: absolute;
        left: 400px;
        transform: translateX(-50%);
        bottom: 25px;
    }

    &.next {
        position: absolute;
        left: 550px;
        transform: translateX(-50%);
        bottom: 25px;
        height: 100px;
    }
}
