*.cache
*.json
*.cache

/*.bin

code/accesslist.txt
code/Properties
code/obj
*.csproj
*.csproj.user
.vs
.intermediate

*.*_c

maps/editor/*
maps/prefabs/*
maps/_bakeresourcecache
maps/*.vpk
maps/*.los